<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="biz.wolschon.finance.jgnucash.splitter" version="2.0.13"
	class="biz.wolschon.finance.jgnucash.splitter.PluginMain">
	<requires>
	       <import plugin-id="biz.wolschon.finance.jgnucash.viewer.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.editor.main"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="biz.wolschon.finance.jgnucash.editor.main"
	           point-id="Tool" id="SplitTool">
	   <parameter id="name"
	           value="split at date..."/>
	   <parameter id="description"
	           value="Split the gnucash-file at a given date."/>
	   <parameter id="hasFixedAccount"
	           value="true"/>
	   <parameter id="class"
		       value="biz.wolschon.finance.jgnucash.splitter.SplitterTool"/>
     </extension>
</plugin>
