<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="biz.wolschon.finance.jgnucash.AdvanziaEmailImporter" version="1.0.0"
	class="biz.wolschon.finance.jgnucash.AdvanziaEmailImporter.Main">
	<requires>
	       <import plugin-id="biz.wolschon.finance.jgnucash.viewer.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.editor.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.mailImport"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.AbstractScriptableImporter"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="biz.wolschon.finance.jgnucash.mailImport"
	           point-id="mailHandler" id="AdvanziaEmailImporter">
	   <parameter id="class"
		       value="biz.wolschon.finance.jgnucash.AdvanziaEmailImporter.Main"/>
     </extension>
</plugin>
