<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="biz.wolschon.finance.jgnucash.PaypalImporter" version="2.0.13"
	class="biz.wolschon.finance.jgnucash.PaypalImporter.PluginMain">
	<requires>
	       <import plugin-id="biz.wolschon.finance.jgnucash.viewer.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.editor.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.AbstractScriptableImporter"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="biz.wolschon.finance.jgnucash.editor.main"
	           point-id="Importer" id="PaypalImporter">
	   <parameter id="name"
	           value="Paypal"/>
	   <parameter id="description"
	           value="Scriptable importer for transactions via Paypal."/>
	   <parameter id="hasFixedAccount"
	           value="false"/>
	   <parameter id="class"
		       value="biz.wolschon.finance.jgnucash.PaypalImporter.PaypalImporter"/>
     </extension>
</plugin>
