<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="biz.wolschon.finance.jgnucash.HBCIImporterNew" version="2.0.22"
	class="biz.wolschon.finance.jgnucash.HBCIImporterNew.PluginMain">
	<requires>
	       <import plugin-id="biz.wolschon.finance.jgnucash.viewer.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.editor.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.AbstractScriptableImporter"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="biz.wolschon.finance.jgnucash.editor.main"
	           point-id="Importer" id="HBCIImporterNew">
	   <parameter id="name"
	           value="HBCI/FinTS(new)"/>
	   <parameter id="description"
	           value="Scriptable importer for transactions via HBCI-online-banking."/>
	   <parameter id="hasFixedAccount"
	           value="false"/>
	   <parameter id="class"
		       value="biz.wolschon.finance.jgnucash.HBCIImporterNew.HBCIImporter"/>
     </extension>
     	<extension plugin-id="biz.wolschon.finance.jgnucash.editor.main"
	           point-id="Importer" id="HBCISaldoImporterNew">
	   <parameter id="name"
	           value="HBCI/FinTS-Saldo(new)"/>
	   <parameter id="description"
	           value="Import daily saldo via HBCI-online-banking."/>
	   <parameter id="hasFixedAccount"
	           value="false"/>
	   <parameter id="class"
		       value="biz.wolschon.finance.jgnucash.HBCIImporterNew.HBCISaldoImporter"/>
     </extension>
</plugin>
