<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="biz.wolschon.finance.jgnucash.editor.main" version="2.0.25"
	class="biz.wolschon.finance.jgnucash.JPFEditorMain">
	<requires>
	       <import plugin-id="biz.wolschon.finance.jgnucash.viewer.main" reverse-lookup="true"/>
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="Importer">
		<parameter-def id="class" /> <!-- class must implement biz.wolschon.finance.jgnucash.plugin.ImporterPlugin -->
		<parameter-def id="name" />
		<parameter-def id="hasFixedAccount" /> <!-- false=use currently selected account -->
		<parameter-def id="description" multiplicity="none-or-one" />
		<parameter-def id="icon" multiplicity="none-or-one" />
	</extension-point>
	<extension-point id="Tool">
		<parameter-def id="class" /> <!-- class must implement biz.wolschon.finance.jgnucash.plugin.ToolPlugin -->
		<parameter-def id="name" />
		<parameter-def id="hasFixedAccount" /> <!-- false=use currently selected account -->
		<parameter-def id="description" multiplicity="none-or-one" />
		<parameter-def id="icon" multiplicity="none-or-one" />
	</extension-point>
	<extension-point id="DataSource"><!-- displayed in file-menu as "load <xyz>..." -->
		<parameter-def id="class" /> <!-- class must implement biz.wolschon.finance.jgnucash.plugin.DataSourcePlugin -->
		<parameter-def id="name" />
		<parameter-def id="description" multiplicity="none-or-one" />
		<parameter-def id="icon" multiplicity="none-or-one" />
		<parameter-def id="supportsWriting"/> <!-- "true" or "false" : Supports a menu-handler "write file" that writes to where it was loaded from. -->
		<parameter-def id="supportsWritingTo"/> <!-- "true" or "false" : Supports a menu-handler "write file to...". -->
	</extension-point>
	<extension-point id="TransactionMenuAction"><!-- displayed in the context-emu of selecransactions -->
		<parameter-def id="class" /> <!-- class must implement biz.wolschon.finance.jgnucash.plugin.TransactionMenuAction -->
		<parameter-def id="name" />
	</extension-point>
		<extension-point id="AccountAction"><!-- displayed in the context-emu of account-tree -->
		<parameter-def id="class" /> <!-- class must implement AccountAction -->
		<parameter-def id="name" />
	</extension-point>
</plugin>
