<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="biz.wolschon.finance.jgnucash.wirecard" version="2.0.26"
	class="biz.wolschon.finance.jgnucash.wirecard.PluginMain">
	<requires>
	       <import plugin-id="biz.wolschon.finance.jgnucash.viewer.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.editor.main"/>
	       <import plugin-id="biz.wolschon.finance.jgnucash.mailImport"/>
<!--	       <import plugin-id="biz.wolschon.finance.jgnucash.common"/> -->
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="biz.wolschon.finance.jgnucash.editor.main"
	           point-id="Importer" id="WirecardImporter">
	   <parameter id="name"
	           value="Wirecard-PDF"/>
	   <parameter id="description"
	           value="Import Wirecard pdf-documents."/>
	   <parameter id="hasFixedAccount"
	           value="true"/>
	   <parameter id="class"
		       value="biz.wolschon.finance.jgnucash.wirecard.FileImport"/>
     </extension>
     <extension plugin-id="biz.wolschon.finance.jgnucash.mailImport"
	           point-id="mailHandler" id="WirecardMail">
	   <parameter id="class"
		       value="biz.wolschon.finance.jgnucash.wirecard.MailImport"/>
     </extension>
</plugin>
